// Fonts
$articleFont: 'Open Sans', sans-serif;
$mainFont: 'Roboto', sans-serif;
$countFont: 'Fredericka the Great', cursive;
$mainIcons: 'Material Icons';
$socIco: 'socialico';

// Text Colors
$mainWhite: #ffffff;
$mainRed: #de2b24;
$mainBlack: #424242;
$mainGrey: #5b5b5b;
$secondGrey: #5c5c5c;
$thirdGrey: #828282;
$btnYellow: #f8cd53;
$workTomato: #f35e59;

// Font sizes
$partTitle: 3.6rem;
$partSubTitle: 2rem;

// screen
$tablet: 'min-width: 767px';
$desktop: 'min-width: 1024px';
$projector: 'min-width: 1200px';
