.feedback {
  .modal {
    width: 90%;
    // width: 33.3rem;
    height: 44.6rem;
    background-color: $mainWhite;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    position: relative;
    border-radius: 0.4rem;

    @media ($tablet) {
      width: 58.3rem;
    }

    @media ($desktop) {
      width: 68.3rem;
      height: 44.6rem;
    }

    &__arrow {
      background-color: $mainWhite;
      display: flex;
      width: 4.5rem;
      height: 4.5rem;
      position: absolute;
      transform: rotate(45deg);
      left: calc(50% - 2.4rem);
      top: -2rem;
    }

    &__close-btn {
      position: absolute;

      left: calc(100% - 1.25rem);
      top: -1.25rem;
      width: 2.5rem;
      height: 2.5rem;
      background-color: $mainRed;
      display: flex;
      justify-content: center;
      align-items: flex-end;
      border: 0.2rem solid $mainWhite;
      border-radius: 50%;

      @media ($tablet) {
        align-items: baseline;

        left: calc(100% - 2.25rem);
        top: -2.25rem;
        width: 4.5rem;
        height: 4.5rem;
      }

      @media ($desktop) {
        left: calc(100% - 2.25rem);
      }

      p {
        font-size: 2rem;
        color: $mainWhite;
        font-family: $mainFont;
        font-weight: 300;

        @media ($tablet) {
          font-size: 3.2rem;
        }

        @media ($desktop) {
          font-size: 3.2rem;
        }
      }

      &:hover {
        cursor: pointer;
        box-shadow: 2px 2px 10px $mainGrey;
      }
    }

    &__text {
      font-size: 1.5rem;
      color: $thirdGrey;
      font-family: $mainFont;
      text-align: center;
      line-height: 1.47;
      width: 80.5%;
      height: 3.8rem;
      word-break: break-all;

      @media ($tablet) {
        height: 3.8rem;
      }

      @media ($desktop) {
        height: 3.8rem;
      }
    }

    .callback {
      display: flex;
      flex-direction: column;
      align-items: center;
      // width: 44.4rem;
      width: 100%;
      height: 25.5rem;

      input {
        height: 5rem;
        width: 80%;
        margin-bottom: 1rem;
        border: solid 1px #d8d8d8;
        border-radius: 0.3rem;
        font-family: $mainFont;
        font-size: 1.4rem;
        text-transform: capitalize;
        padding-left: 2.2rem;

        @media ($tablet) {
          width: 70%;
          padding-left: 2.2rem;
        }

        @media ($desktop) {
          width: 65%;
        }

        &:focus {
          // border: 1px solid rgba($color: #1287bf, $alpha: 0.6);
          // border-color: rgba($color: #1287bf, $alpha: 0.6);
          outline: 1px solid rgba($color: #1287bf, $alpha: 0.8);
          box-shadow: 0rem 0rem 0.5rem #1287bf;
        }

        &::placeholder {
          color: rgba($lightGrey, 0.8);
          //   padding-left: 2rem;
        }

        &:last-child {
          height: 4.6rem;
          width: 16.1rem;
          margin-top: 2.7rem;
          padding-left: 0;
          background-color: $mainRed;
          color: $mainWhite;
          text-transform: uppercase;
          font-size: 1.5rem;
          font-weight: bold;
          font-family: $mainFont;
          border-radius: 0.3rem;

          &:hover {
            cursor: pointer;
            box-shadow: 2px 2px 10px $mainGrey;
          }
        }
      }
    }
  }

  .close {
    display: none;

  }
}