.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 54.2rem;

  &__title {
    display: inherit;
    flex-direction: column;
    align-items: center;
    margin-top: 1.5rem;

    @media ($tablet) {
      margin-top: 3rem;
    }

    @media ($desktop) {
      margin-top: 10rem;
    }


  }

  &__features {
    display: inherit;
    flex-direction: column;
    align-items: center;
    margin-top: 1rem;

    @media ($tablet) {
      flex-direction: row;
      margin-top: 3rem;
    }

    @media ($desktop) {
      margin-top: 4.6rem;
    }
  }
}