.about {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__title {
    display: inherit;
    flex-direction: column;
    align-items: center;
    &_header {
      @include titleText(2.4rem);
      margin-top: 1.5rem;
      @media ($tablet) {
        font-size: 3rem;
        margin-top: 3rem;
      }
      @media ($desktop) {
        font-size: 3.6rem;
        margin-top: 10rem;
      }
    }

    &_text {
      @include titleText(1.5rem);
      //   font-weight: 300;
      @media ($tablet) {
        font-size: 1.7rem;
      }
      @media ($desktop) {
        font-size: 2rem;
      }
    }
    &_line {
      width: 4.7rem;
      height: 0.3rem;
      margin-top: 0.7rem;
      background-color: $mainBlack;
      @media ($tablet) {
        height: 0.4rem;
        margin-top: 1rem;
      }
      @media ($desktop) {
        height: 0.5rem;
        margin-top: 1.4rem;
      }
    }
  }
  &__features {
    display: inherit;
    flex-direction: column;
    align-items: center;
    margin-top: 4rem;
    @media ($desktop) {
      flex-direction: row;
    }
  }
}
